

<div class="bg-[var(--secondary-color)] bottom-0 h-14 border-gray-300 text-gray-900 fixed z-50 w-full border-t">
	<div class="px-6 py-3 container mx-auto flex h-full w-full items-center justify-center">
		<p class="text-sm md:text-xl lg:text-2xl xl:text-sm">
			© 2024 <span class="text-[var(--primary-color)] font-semibold">TEC</span> | All Rights Reserved.
		</p>
	</div>
</div>

@code {

}
