<button @onclick="OnClick"
		class="gap-2 px-4 py-2 flex w-fit cursor-pointer items-center justify-center rounded-full border text-base font-medium transition-all @(IsSelected ? "bg-black text-white border-black" : "bg-white text-black border-gray-400 hover:bg-gray-100")">
	<span>@Label</span>
	@if (IsSelected)
	{
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<line x1="18" y1="6" x2="6" y2="18" />
			<line x1="6" y1="6" x2="18" y2="18" />
		</svg>
	}
	else
	{
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<line x1="12" y1="5" x2="12" y2="19" />
			<line x1="5" y1="12" x2="19" y2="12" />
		</svg>
	}
</button>

@code {
	[Parameter] public string Label { get; set; } = "";
	[Parameter] public bool IsSelected { get; set; }
	[Parameter] public EventCallback OnClick { get; set; }
}